<!-- Links to special pages -->
{{ range (where .Site.RegularPages "Type" "not in" site.Params.mainSections) }}
<a href="{{ .Permalink }}">
  {{ .Title }}
</a>
<br>
{{ end }}

<!-- visable link to RSS-Feed -->
<a href="{{ "index.xml" | absLangURL }}" target="_blank">
  RSS-Feed
</a>
<div id="media-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <iframe class="modal-iframe" allowfullscreen></iframe>
    </div>
</div>
<script type="text/javascript">

// Select elements
const mediaContainers = document.querySelectorAll('.media-container-container');

// Loop through each media container and bind event listeners
mediaContainers.forEach((container) => {

    const mediaContainer = container.querySelector('.media-container');
    const divWithAspect = mediaContainer.querySelector('.embed')
    const overlay = mediaContainer.querySelector('.iframe-overlay');
    const modal = document.getElementById('media-modal');
    const modalIframe = modal.querySelector('.modal-iframe');
    const closeBtn = modal.querySelector('.close-btn');

    const aspectRatio = parseFloat(divWithAspect.style.paddingBottom) / 100

    // Open the modal and load the iframe source when clicking the overlay
    overlay.addEventListener('click', () => {
        const iframeSrc = mediaContainer.querySelector('.i-embed').src;
        modalIframe.src = iframeSrc;
        modal.style.width = '100%';
        modal.style.height = `100vw`;
        modal.style.display = 'flex'; // Make the modal visible
    });

    // Close the modal and stop the video playback
    closeBtn.addEventListener('click', () => {
        modal.style.display = 'none';
        modalIframe.src = ''; // Reset the iframe to stop playback
    });

    // Optional: Close modal on click outside the content
    window.addEventListener('click', (e) => {
        if (e.target === modal) {
            modal.style.display = 'none';
            modalIframe.src = '';
        }
    });
});
</script>

